<template>
  <div>
    <v-row justify="center">
      <h2>{{ title }}</h2>
    </v-row>
    <div v-html="body">{{ body }}</div>
  </div>
</template>

<script>
import findarticlemodel from '../models/findarticlemodel'

export default {
  name: 'Article',
  computed: {
    title: () => findarticlemodel.title,
    body: () => findarticlemodel.body
  },
  mounted () {
    findarticlemodel.getData(this.$route.params.articleId)
  }
}
</script>

<style>

</style>
