<template>
<div>
    <div v-if="articles.length == 0">
      <v-row justify="center" align="center">
          <v-progress-circular
          :width="3"
          color="blue"
          size="50"
          indeterminate
       ></v-progress-circular>
      </v-row>
    </div>
    <div v-else>
    </div>
     <v-row>
    <v-col xs="1" sm="6" md="4" lg="3" v-for="items in articles" :key="items.id">
      <router-link :to="'article/' + items.id">
        <v-card>
          <v-img
            :src="items.poster"
            class="white--text align-center"
          >
          </v-img>
          <v-card-title>{{ items.title }}</v-card-title>
        </v-card>
      </router-link>
    </v-col>
  </v-row>
  </div>
</template>

<script>
import articlemodel from '../models/articlemodel'

export default {
  name: 'Home',
  computed: {
    articles: () => articlemodel.article
  },
  mounted () {
    articlemodel.fetchdata()
    document.title = 'TEKNOLOGIKU'
  }
}
</script>
