<template>
  <v-app>
    <v-app-bar app color="white" dark>
      <div class="d-flex align-center">
        <v-img
        width="150px"
        :src="image"
        ></v-img>
      </div>
    </v-app-bar>
    <v-content>
      <v-container>
        <transition name="fade">
          <router-view/>
        </transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    image: require('./assets/teknologikulogo.png')
  })
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
